.header {
  border-bottom: 1px solid #ececec;
}

/*-Navigation*/

.navigation {
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navigation-heading {
  display: flex;
  align-items: center;
}

.navigation-logo {
  margin-right: 0px;
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  &__accent {
    color: var(--accent);
  }
  @media (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 93px;
  }
}

.navigation-list {
  display: flex;
  list-style: none;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation-item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}

.navigation-link {
  padding: 32px 0;
  display: block;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}
.navigation-link__accent {
  position: relative;
  padding: 32px 0;
  display: block;
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.navigation-link__current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent);
  border-radius: 2px;
}

/*authorization*/

.authorization-list {
  margin-left: auto;
  list-style: none;
  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.authorization-item {
  @media (min-width: 768px) {
    margin-top: 10px;
    margin-right: 0px;
    &:first-child {
      margin-top: 0px;
    }
  }
  @media (min-width: 1200px) {
    margin-right: 30px;
    margin-top: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.authorization-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent);
    color: var(--accent);
  }
  @media (min-width: 768px) {
    margin: auto;
    justify-content: flex-start;
  }
}

.authorization-icon {
  margin-right: 10px;
}

.menu-toggle {
  background-color: var(--pirmary-background-color);
  border: var(--pirmary-background-color);
  margin: 16px 0;
  cursor: pointer;
  margin-left: auto;
  @media (min-width: 768px) {
    display: none;
  }
}
.menu-icon {
  &:hover,
  &:focus {
    color: var(--accent);
  }
}
