.mobile-window {
  position: fixed;
  padding: 0 0 0 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: var(--pirmary-background-color);
  transform: translateX(100%);
  z-index: 999;
}
.mobile-window.is-open {
  transform: translateX(0);
}
.mobile-toggle {
  display: flex;
  margin-left: auto;
  margin-top: 21px;

  cursor: pointer;
  background-color: var(--pirmary-background-color);
  border: var(--pirmary-background-color);
}
.mobile-link {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  &__accent {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--accent);
  }
  &:hover,
  &:focus {
    color: var(--accent);
  }
}
.mobile-item {
  margin-top: 32px;
  &:first-child {
    margin-top: 0;
  }
}
.mobile-contacts {
  margin-top: 30px;
  @media screen and (min-width: 480px) {
    margin-top: 305px;
  }
}
.contacts-item {
  &:last-child {
    margin-top: 32px;
  }
}
.contacts-tel {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: var(--accent);
}
.contacts-mail {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--pirmary-text-color);
}
.mobile-networks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 0 auto;
  width: auto;
  @media screen and (min-width: 480px) {
    margin-top: 64px;
  }
}
.networks-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px;
  &:first-child {
    padding-left: 0;
  }
}

.networks-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--accent);
}
