.benefits-list {
  width: auto;
  list-style: none;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits-item {
  width: 100%;
  margin: 0 auto 30px auto;
  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) and(max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-child(-n + 2) {
      margin-top: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-top: 0;
  }
}

.benefits-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.benefits-subtitle {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.benefits-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
}
