.activity {
  padding-top: 0px;
  @media screen and(max-width: 1199px) {
    display: none;
  }
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  text-align: center;
}

.activity-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.activity-item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.activity-img {
  position: relative;
  display: flex;
}

.activity-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--pirmary-background-color);
}

.activity-subtext {
  display: flex;
  justify-content: center;
  padding: 27px 0;
}
